/*
** Student:     Jerinca vreugdenhil
** Studentnumber: 12405965

** This is a Style sheet for the line chart
*/

.line {
    fill: none;
    stroke: #6d8891;
    stroke-width: 3;
}

.yaxis text{
    fill: none;
    stroke: #cda20b;
    stroke-width: 1;
}

.yaxis line {
    fill: none;
    stroke: #6b3603;
    stroke-width: 3;
}

.axisRed path{
    stroke: #6b3603;
    stroke-width: 3;
}


.xasis {
    fill: none;
    stroke: #cda20b;
    stroke-width: 1;
}